@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100svh;
  width: 90rem;
  max-width: 1440px;
  transition: all ease-in-out 0.2;
}

img,
picture,
svg,
video {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 75ch not higher than that */
p {
  max-width: 75ch;
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

/* Buttons */

/* Header */
.header__btn {
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
.header__btn:hover {
  border-radius: 0.3125rem;
  border: 2px solid #fa5959;
  background: #fff;
  color: #fa5959;
}

/* First Section */
.hero__btn {
  border-radius: 0.3125rem;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
.hero__btn1:hover {
  border: 2px solid #5267df;
  background: #fff;
  color: #5267df;
}
.hero__btn2:hover {
  border: 2px solid #5b6074;
  background: #fff;
  color: #242a45;
}

.box {
  border-radius: 0.9375rem;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.2);
}

.box__btn {
  border-radius: 0.3125rem;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
.box__btn:hover {
  border: 2px solid #5267df;
  background: #fff;
  color: #5267df;
}

.fqa {
  position: relative;
}

.fqa::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-bottom: 2px solid #242a45;
  opacity: 0.1477;
  margin-bottom: -0.81rem;
}
.fqa1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #242a45;
  opacity: 0.1477;
  margin-top: -1.19rem;
}

.fourth__section__btn {
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}

.fifth__section__btn {
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}
.fifth__section__btn:hover {
  color: #fa5959;
  border-radius: 0.3125rem;
  border: 2px solid #fa5959;
  background: #fff;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.2);
}

/* Second Section */

/* .btn__group {
  position: relative;
}

.btn__group::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  border-bottom: 2px solid rgba(73, 93, 207, 0.2);
  margin-bottom: -2rem;
  width: 45.625rem;
} */
