---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Header from "@/components/Header.astro";
---

<Layout title="Frontend Mentor | Bookmark landing page" />
<!-- The Header Component -->
<Header />
<main>
  <!-- First Section -->
  <section class="mt-24 flex items-center">
    <!-- First col / Text & Hero Btn  -->
    <div class="ml-40">
      <h1
        class="text-5xl leading-[3.25rem] tracking-[-0.00938rem] font-medium text-[#242A45] w-[33.75rem]"
      >
        A Simple Bookmark Manager
      </h1>
      <p
        class="my-8 text-lg font-normal text-[#242A45] opacity-50 w-[33.75rem]"
      >
        A clean and simple interface to organize your favourite websites. Open a
        new browser tab and see your sites load instantly. Try it for free.
      </p>
      <!-- Hero Btn -->
      <div
        class="flex items-center gap-8 text-sm leading-7 tracking-[0.01563rem] font-medium"
      >
        <button
          type="button"
          class="w-40 h-12 bg-[#5267DF] text-white hero__btn hero__btn1"
          >Get it on Chrome</button
        >
        <button
          type="button"
          class="w-40 h-12 bg-[#F7F7F7] text-[#242A45] opacity-75 hero__btn hero__btn2"
          >Get it on Firefox</button
        >
      </div>
    </div>
    <!-- Second Col / Illustration -->
    <div class="relative">
      <div class="z-10 ml-10">
        <img src="/images/illustration-hero.svg" alt="" />
      </div>
      <div class="absolute right-[-100px] top-[150px] z-[-100]">
        <img src="/images/new.svg" alt="" />
      </div>
    </div>
  </section>
  <!-- First Section End -->

  <!-- Second Section -->
  <section class="mt-44">
    <!-- First Row -->
    <div class="flex flex-col items-center text-center gap-4">
      <h2
        class="font-medium text-[2rem] leading-[3.25rem] tracking-[-0.00625rem] text-[#242A45]"
      >
        Features
      </h2>
      <p class="text-lg font-normal text-[#242A45] opacity-50 w-[33.75rem]">
        Our aim is to make it quick and easy for you to access your favourite
        websites. Your bookmarks sync between your devices so you can access
        them on the go.
      </p>
    </div>
    <!-- Buttons Group Row -->
    <div class="mt-20">
      <!-- Buttons Group -->
      <div class="btn__group flex items-center justify-center gap-24">
        <button
          class="text-base leading-[1.0625rem] tracking-[0.03331rem] font-normal text-[#242A45] opacity-75 hover:opacity-100 hover:text-[#FA5959]"
          onclick="openTap(this,'simple__bookmarking')"
          >Simple Bookmarking</button
        >
        <button
          class="text-base leading-[1.0625rem] tracking-[0.03331rem] font-normal text-[#242A45] opacity-75 hover:opacity-100 hover:text-[#FA5959]"
          onclick="openTap(this,'speedy__Searching')">Speedy Searching</button
        >
        <button
          class="text-base leading-[1.0625rem] tracking-[0.03331rem] font-normal text-[#242A45] opacity-75 hover:opacity-100 hover:text-[#FA5959]"
          onclick="openTap(this,'easy__sharing')">Easy Sharing</button
        >
      </div>
      <!-- First Tap Div -->
      <div
        id="simple__bookmarking"
        class="tap first--btn--div flex items-center mt-16"
      >
        <!-- First Tap / Illustration -->
        <div class="imgs--div first-col">
          <div class="hero__img relative">
            <div class="z-10 ml-40">
              <img src="/images/illustration-features-tab-1.svg" alt="" />
            </div>
            <div class="absolute left-[-100px] top-[80px] z-[-100]">
              <img src="/images/Rectangle-Copy-14.png" alt="" />
            </div>
          </div>
        </div>
        <!--  -->
        <div class="text--div seconde--col ml-28">
          <h2
            class="text-[2rem] leading-[3.25rem] tracking-[-0.00625rem] font-medium text-[#242A45] w-[21.75rem]"
          >
            Bookmark in one click
          </h2>
          <p
            class="my-8 text-lg font-normal text-[#242A45] opacity-50 w-[27.8125rem]"
          >
            Organize your bookmarks however you like. Our simple drag-and-drop
            interface gives you complete control over how you manage your
            favourite sites.
          </p>
          <div
            class="flex items-center gap-8 text-sm leading-7 tracking-[0.01563rem] font-medium"
          >
            <button
              type="button"
              class="w-[7.125rem] h-12 bg-[#5267DF] text-white hero__btn"
              >More Info</button
            >
          </div>
        </div>
      </div>
      <!-- Second Tap Div -->
      <div
        id="speedy__Searching"
        class="tap first--btn--div flex items-center mt-16"
        style="display: none"
      >
        <!-- Second Tap / Illustration -->
        <div class="imgs--div first-col self-center">
          <div class="hero__img relative">
            <div class="z-10 ml-48">
              <img src="/images/illustration-features-tab-2.svg" alt="" />
            </div>
            <div class="absolute left-[-100px] top-[80px] z-[-100]">
              <img src="/images/Rectangle-Copy-14.png" alt="" />
            </div>
          </div>
        </div>
        <!-- Second Tap / Text -->
        <div class="text--div seconde--col ml-28">
          <h2
            class="text-[2rem] leading-[3.25rem] tracking-[-0.00625rem] font-medium text-[#242A45] w-[21.75rem]"
          >
            Intelligent search
          </h2>
          <p
            class="my-8 text-lg font-normal text-[#242A45] opacity-50 w-[27.8125rem]"
          >
            Our powerful search feature will help you find saved sites in no
            time at all. No need to trawl through all of your bookmarks.
          </p>
          <div
            class="flex items-center gap-8 text-sm leading-7 tracking-[0.01563rem] font-medium"
          >
            <button
              type="button"
              class="w-[7.125rem] h-12 bg-[#5267DF] text-white hero__btn"
              >More Info</button
            >
          </div>
        </div>
      </div>
      <!-- Thrid Tap Div -->
      <div
        id="easy__sharing"
        class="tap first--btn--div flex items-center mt-16"
        style="display:none "
      >
        <!-- Third Tap / Illustration -->
        <div class="imgs--div first-col self-center">
          <div class="hero__img relative">
            <div class="z-10 ml-48">
              <img src="/images/illustration-features-tab-3.svg" alt="" />
            </div>
            <div class="absolute left-[-100px] top-[80px] z-[-100]">
              <img src="/images/Rectangle-Copy-14.png" alt="" />
            </div>
          </div>
        </div>
        <!-- Third Tap / Text -->
        <div class="text--div seconde--col ml-28">
          <h2
            class="text-[2rem] leading-[3.25rem] tracking-[-0.00625rem] font-medium text-[#242A45] w-[21.75rem]"
          >
            Share your bookmarks
          </h2>
          <p
            class="my-8 text-lg font-normal text-[#242A45] opacity-50 w-[27.8125rem]"
          >
            Easily share your bookmarks and collections with others. Create a
            shareable link that you can send at the click of a button.
          </p>
          <div
            class="flex items-center gap-8 text-sm leading-7 tracking-[0.01563rem] font-medium"
          >
            <button
              type="button"
              class="w-[7.125rem] h-12 bg-[#5267DF] text-white hero__btn"
              >More Info</button
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Second Section End -->

  <!-- Third Section -->
  <section class="mt-48">
    <!-- First Row -->
    <div class="flex flex-col items-center gap-2 text-center">
      <h2
        class="text-[2rem] leading-[3.25rem] font-medium text-[#242A45] tracking-[-0.00625rem]"
      >
        Download the extension
      </h2>
      <p class="w-[33.75rem] text-lg font-normal text-[#242A45] opacity-50">
        We’ve got more browsers in the pipeline. Please do let us know if you’ve
        got a favourite you’d like us to prioritize.
      </p>
    </div>
    <!-- Second Row -->
    <div
      class="flex items-center justify-center gap-10 mt-24 w-9/12 m-auto h-[30rem]"
    >
      <!-- First Box -->
      <div
        class="box1 box flex flex-col items-center justify-evenly gap-2 text-center w-[17.5rem] h-[23.1875rem] bg-white self-start justify-self-start"
      >
        <div>
          <img src="/images/logo-chrome.svg" alt="logo-chrome.svg" />
        </div>
        <div>
          <h2
            class="text-xl leading-normal font-medium tracking-[0.01563rem] text-[#242A45]"
          >
            Add to Chrome
          </h2>
          <h3 class="text-[0.9375rem] font-normal leading-7 text-[#242A45]">
            Minimum version 62
          </h3>
        </div>
        <button
          type="button"
          class="box__btn block text-sm font-medium leading-7 text-white tracking-[0.01563rem] bg-[#5267DF] w-[14.5rem] h-12"
          >Add & Install Extension</button
        >
      </div>
      <!-- Seconde Box -->
      <div
        class="box2 box flex flex-col items-center justify-evenly gap-2 text-center w-[17.5rem] h-[23.1875rem] bg-white self-center justify-self-center"
      >
        <div>
          <img src="/images/logo-firefox.svg" alt="firefox-chrome.svg" />
        </div>
        <div>
          <h2
            class="text-xl leading-normal font-medium tracking-[0.01563rem] text-[#242A45]"
          >
            Add to Firefox
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-7 text-[#242A45] opacity-5"
          >
            Minimum version 55
          </h3>
        </div>
        <button
          type="button"
          class="box__btn block text-sm font-medium leading-7 text-white tracking-[0.01563rem] bg-[#5267DF] w-[14.5rem] h-12"
          >Add & Install Extension</button
        >
      </div>
      <!-- Third Box -->
      <div
        class="box3 box flex flex-col items-center justify-evenly gap-2 text-center w-[17.5rem] h-[23.1875rem] bg-white self-end justify-self-end"
      >
        <div>
          <img src="/images/logo-opera.svg" alt="oper-chrome.svg" />
        </div>
        <div>
          <h2
            class="text-xl leading-normal font-medium tracking-[0.01563rem] text-[#242A45]"
          >
            Add to Opera
          </h2>
          <h3
            class="text-[0.9375rem] font-normal leading-7 text-[#242A45] opacity-5"
          >
            Minimum version 46
          </h3>
        </div>
        <button
          type="button"
          class="box__btn block text-sm font-medium leading-7 text-white tracking-[0.01563rem] bg-[#5267DF] w-[14.5rem] h-12"
          >Add & Install Extension</button
        >
      </div>
    </div>
  </section>
  <!-- Third Section End -->

  <!-- Fourth Section -->
  <section class="mt-36 flex flex-col items-center gap-14 text-center">
    <!-- First Row / Text-->
    <div class="flex flex-col items-center gap-4 text-center">
      <h1
        class="text-[#242A45] font-medium text-[2rem] leading-[3.5rem] tracking-[-0.00625rem]"
      >
        Frequently Asked Questions
      </h1>
      <p class="text-[#242A45] opacity-50 font-normal text-lg w-[33.75rem]">
        Here are some of our FAQs. If you have any other questions you’d like
        answered please feel free to email us.
      </p>
    </div>
    <!-- Second Row / FQA -->
    <div
      class="mx-80 w-[46%] flex flex-col gap-10 justify-center place-content-center"
    >
      <!-- First FQA -->
      <div class="fqa fqa1 flex justify-between items-center">
        <!-- The Question -->
        <div class="">
          <h3 class="text-[#242A45] text-lg font-normal leading-[2rem]">
            What is Bookmark?
          </h3>
        </div>
        <!-- The Answer --visible on click-->
        <div class="">
          <img src="/images/icon-arrow.svg" alt="" />
        </div>
      </div>
      <!-- Second FQA -->
      <div class="fqa flex justify-between items-center">
        <!-- The Question -->
        <div class="">
          <h3 class="text-[#242A45] text-lg font-normal leading-[2rem]">
            How can I request a new browser?
          </h3>
        </div>
        <!-- The Answer --visible on click-->
        <div class="">
          <img src="/images/icon-arrow.svg" alt="" />
        </div>
      </div>
      <!-- Third FQA -->
      <div class="fqa flex justify-between items-center">
        <!-- The Question -->
        <div class="">
          <h3 class="text-[#242A45] text-lg font-normal leading-[2rem]">
            Is there a mobile app?
          </h3>
        </div>
        <!-- The Answer --visible on click-->
        <div class="">
          <img src="/images/icon-arrow.svg" alt="" />
        </div>
      </div>
      <!-- Fourth FQA -->
      <div class="fqa flex justify-between items-center">
        <!-- The Question -->
        <div class="">
          <h3 class="text-[#242A45] text-lg font-normal leading-[2rem]">
            What about other Chromium browsers?
          </h3>
        </div>
        <!-- The Answer --visible on click-->
        <div class="">
          <img src="/images/icon-arrow.svg" alt="" />
        </div>
      </div>
    </div>
    <!-- Third Row / Button -->
    <div
      class="fourth__section__btn w-[7.125rem] h-12 bg-[#5267DF] rounded-[0.3125rem] flex justify-center items-center"
    >
      <button
        class="text-white text-sm font-medium leading-7 tracking-[0.01563rem]"
        type="button"
      >
        More Info</button
      >
    </div>
  </section>
  <!-- Fourth Section End -->

  <!-- Fifth Section -->
  <section
    class="bg-[#5267DF] mt-[9.5rem] pb-[4.25rem] flex flex-col items-center gap-6 text-center"
  >
    <!-- First Row / Text -->
    <div class="text-white mt-14">
      <h2 class="text-sm font-medium leading-[2.5rem] tracking-[0.3125rem]">
        35,000+ ALREADY JOINED
      </h2>
      <p
        class="text-[2rem] font-medium leading-10 tracking-[-0.00625rem] text-center"
      >
        Stay up-to-date with what we’re doing
      </p>
    </div>
    <!-- Second Row / Input & Button -->
    <div class="flex gap-4 mt-5">
      <input
        class="w-[18.75rem] h-12 rounded-[0.3125rem] bg-white placeholder:text-[#242A4540] pl-[1.25rem] text-sm font-normal leading-7 tracking-[0.01563rem] outline-none border-none"
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email address"
      />
      <button
        type="button"
        class="fifth__section__btn w-[7.875rem] h-12 rounded-[0.3125rem] bg-[#FA5959] text-white text-sm font-medium leading-7 tracking-[0.01563rem]"
        >Contact Us</button
      >
    </div>
  </section>
  <!-- Fifth Section End -->
</main>
<!-- Footer Start  -->
<footer
  class="bg-[#242A45] px-[10.31rem] py-8 flex justify-between items-center"
>
  <!-- Left Part / Logo & Nav -->
  <div class="flex justify-between items-center gap-16">
    <!-- Logo -->
    <div class="">
      <svg width="148" height="25" xmlns="http://www.w3.org/2000/svg"
        ><g fill="none" fill-rule="evenodd"
          ><path
            d="M37 6.299h5.227c.746 0 1.434.155 2.062.466.629.311 1.123.735 1.484 1.27s.542 1.12.542 1.754c0 .672-.165 1.254-.495 1.746-.33.491-.762.868-1.297 1.129v.15c.697.248 1.25.643 1.661 1.185.41.541.616 1.191.616 1.95 0 .735-.196 1.385-.588 1.951a3.817 3.817 0 0 1-1.587 1.307c-.665.305-1.403.457-2.212.457H37V6.299zm5.04 5.45c.548 0 .986-.152 1.316-.457.33-.305.495-.688.495-1.148 0-.448-.159-.824-.476-1.13-.318-.304-.738-.457-1.26-.457H39.52v3.192h2.52zm.28 5.619c.61 0 1.086-.159 1.428-.476.342-.317.513-.731.513-1.241 0-.51-.174-.927-.522-1.251-.349-.324-.847-.485-1.494-.485H39.52v3.453h2.8zm12.927 2.595c-1.307 0-2.492-.308-3.556-.924a6.711 6.711 0 0 1-2.511-2.53c-.61-1.07-.915-2.246-.915-3.528 0-1.281.305-2.457.915-3.528a6.711 6.711 0 0 1 2.51-2.529C52.756 6.308 53.94 6 55.248 6c1.306 0 2.492.308 3.556.924a6.711 6.711 0 0 1 2.51 2.53c.61 1.07.915 2.246.915 3.527 0 1.282-.305 2.458-.915 3.528a6.711 6.711 0 0 1-2.51 2.53c-1.064.616-2.25.924-3.556.924zm0-2.39a4.52 4.52 0 0 0 2.258-.578 4.177 4.177 0 0 0 1.615-1.624c.392-.697.588-1.494.588-2.39 0-.896-.196-1.692-.588-2.389a4.177 4.177 0 0 0-1.615-1.624 4.52 4.52 0 0 0-2.258-.579 4.47 4.47 0 0 0-2.25.579 4.195 4.195 0 0 0-1.605 1.624c-.392.697-.588 1.493-.588 2.39 0 .895.196 1.692.588 2.389a4.195 4.195 0 0 0 1.605 1.624 4.47 4.47 0 0 0 2.25.578zm15.353 2.39c-1.307 0-2.492-.308-3.556-.924a6.711 6.711 0 0 1-2.51-2.53c-.61-1.07-.915-2.246-.915-3.528 0-1.281.305-2.457.914-3.528a6.711 6.711 0 0 1 2.511-2.529C68.108 6.308 69.294 6 70.6 6c1.307 0 2.492.308 3.556.924a6.711 6.711 0 0 1 2.51 2.53c.61 1.07.915 2.246.915 3.527 0 1.282-.305 2.458-.914 3.528a6.711 6.711 0 0 1-2.511 2.53c-1.064.616-2.25.924-3.556.924zm0-2.39a4.52 4.52 0 0 0 2.259-.578 4.177 4.177 0 0 0 1.614-1.624c.392-.697.588-1.494.588-2.39 0-.896-.196-1.692-.588-2.389a4.177 4.177 0 0 0-1.614-1.624 4.52 4.52 0 0 0-2.259-.579 4.47 4.47 0 0 0-2.25.579 4.195 4.195 0 0 0-1.605 1.624c-.392.697-.588 1.493-.588 2.39 0 .895.196 1.692.588 2.389a4.195 4.195 0 0 0 1.606 1.624 4.47 4.47 0 0 0 2.249.578zM79.83 6.3h2.52v5.73h.15l4.89-5.73h3.043v.149L85.6 11.973l5.338 7.542v.149h-3.08l-3.994-5.693-1.512 1.773v3.92h-2.52V6.299zM93.779 6h3.248l3.546 9.39h.15L104.268 6h3.267v13.365h-2.501v-6.589l.15-2.221h-.15l-3.398 8.81h-1.96l-3.416-8.81h-.149l.15 2.221v6.59h-2.483V6zm20.8 0h2.894l5.021 13.365h-2.781l-1.12-3.192h-5.115l-1.12 3.192h-2.781L114.579 6zm3.193 7.859l-1.176-3.36-.486-1.606h-.149l-.485 1.606-1.195 3.36h3.49zM124.553 6h4.872c.871 0 1.646.18 2.324.541.678.361 1.204.862 1.577 1.503.374.64.56 1.366.56 2.175 0 .858-.27 1.62-.812 2.286a4.617 4.617 0 0 1-2.044 1.447l-.018.13 3.584 5.134v.15h-2.894l-3.453-5.022h-1.176v5.021h-2.52V6zm4.853 6.03c.573 0 1.04-.175 1.4-.523.361-.349.542-.79.542-1.326 0-.51-.172-.945-.514-1.306-.342-.361-.806-.542-1.39-.542h-2.371v3.696h2.333zm7.23-6.03h2.52v5.73h.15l4.89-5.73h3.043v.15l-4.835 5.525 5.34 7.541v.15h-3.08l-3.996-5.694-1.512 1.773v3.92h-2.52V6z"
            fill="#fff"
            fill-rule="nonzero"></path><g
            ><circle fill="#5267DF" cx="12.5" cy="12.5" r="12.5"></circle><path
              d="M9 9v10l3.54-3.44L16.078 19V9a2 2 0 0 0-2-2H11a2 2 0 0 0-2 2z"
              fill="#FFF"></path></g
          ></g
        ></svg
      >
    </div>
    <nav class="">
      <ul
        class="flex items-center gap-12 font-normal text-sm leading-[1.0625rem] tracking-[0.09375rem] text-white"
      >
        <li><a href="#" class="hover:text-[#FA5959]">FEATURES</a></li>
        <li><a href="#" class="hover:text-[#FA5959]">PRICING</a></li>
        <li><a href="#" class="hover:text-[#FA5959]">CONTACT</a></li>
      </ul>
    </nav>
  </div>
  <!-- Right Part / Social Media -->
  <div class="flex justify-between items-center gap-8">
    <!-- Facebook -->
    <div class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
        ><path
          class="hover:fill-[#FA5959]"
          fill="#FFF"
          fill-rule="evenodd"
          d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.407.593 24 1.325 24H12.82v-9.294H9.692v-3.622h3.128V8.413c0-3.1 1.893-4.788 4.659-4.788 1.325 0 2.463.099 2.795.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.313h3.587l-.467 3.622h-3.12V24h6.116c.73 0 1.323-.593 1.323-1.325V1.325C24 .593 23.407 0 22.675 0z"
        ></path></svg
      >
    </div>
    <!-- Twitter -->
    <div class="">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20"
        ><path
          class="hover:fill-[#FA5959]"
          fill="#FFF"
          fill-rule="evenodd"
          d="M24 2.557a9.83 9.83 0 0 1-2.828.775A4.932 4.932 0 0 0 23.337.608a9.864 9.864 0 0 1-3.127 1.195A4.916 4.916 0 0 0 16.616.248c-3.179 0-5.515 2.966-4.797 6.045A13.978 13.978 0 0 1 1.671 1.149a4.93 4.93 0 0 0 1.523 6.574 4.903 4.903 0 0 1-2.229-.616c-.054 2.281 1.581 4.415 3.949 4.89a4.935 4.935 0 0 1-2.224.084 4.928 4.928 0 0 0 4.6 3.419A9.9 9.9 0 0 1 0 17.54a13.94 13.94 0 0 0 7.548 2.212c9.142 0 14.307-7.721 13.995-14.646A10.025 10.025 0 0 0 24 2.557z"
        ></path></svg
      >
    </div>
  </div>
</footer>
<!-- Footer End -->
