<header class="flex justify-between mx-40 my-12 items-center">
  <!-- Logo -->
  <div>
    <img src="/images/logo-bookmark.svg" alt="logo-bookmark" />
  </div>
  <!-- Nav Links-->
  <nav
    class="flex items-center gap-10 font-normal text-sm leading-[1.0625rem] tracking-[0.09375rem] text-[#242A45] uppercase"
  >
    <ul class="flex items-center gap-10">
      <li>
        <a href="/" class="cursor-pointer hover:text-[#FA5959]">Features</a>
      </li>
      <li>
        <a href="/" class="cursor-pointer hover:text-[#FA5959]">Pricing</a>
      </li>
      <li>
        <a href="/" class="cursor-pointer hover:text-[#FA5959]">Contact</a>
      </li>
    </ul>
    <!-- Header Button -->
    <button
      type="submit"
      class="header__btn block font-medium text-white w-40 h-10 bg-[#FA5959] rounded-[0.3125rem]"
      >Login</button
    >
  </nav>
</header>
